@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d9d9d9;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat";
  overflow: hidden;
}
#app {
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: "Silkscreen";
  font-size: 1.3rem;
  font-weight: bold;
}
form label {
  display: block;
}
input {
  background-color: var(--primary);
  height: 2rem;
  border-bottom: 1px solid black;
  outline: none;
}
ul {
  list-style-type: disc;
}

/* Media query */
@media screen and (max-height: 875px) {
  body {
    overflow-y: scroll;
  }
  #app {
    height: 875px;
  }
}
